@model List<Playmate.Models.Classes.Favorite>

@{
    ViewBag.Title = "Index"; 
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Commerce</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="@Url.Content("~/website/style.css")">

    @Html.AntiForgeryToken()

</head>
<body>

    <section id="header">
        <a href="#"><img src="@Url.Content("~/wwwroot/image/logo.png")" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Shop")">Shop</a></li>
                <li><a href="@Url.Action("Index", "User")">Profil</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a class="active" href="@Url.Action("Index", "Favoriler")">Favoriler</a></li>
                <li id="lg-bag"><a href="@Url.Action("Index", "Basket")"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Favori Ürünlerin</h2>
        <p>Kaydettiğin ürünlere göz at</p>
        <div class="pro-container">
            @if (Model != null && Model.Any()) 
            {
                foreach (var favoriteItem in Model) 
                {
                    
                    <div class="pro" data-product-id="@favoriteItem.ProductId">
                        <img src="@Url.Content("~/wwwroot/image/" + favoriteItem.Product?.ProductImage)"
                             alt="@favoriteItem.Product?.ProductName">
                        <div class="des">
                            <span>@(favoriteItem.User?.FullName)</span>
                            <h5>@favoriteItem.Product?.ProductName</h5>
                            <h4>@favoriteItem.Product?.Description</h4>
                        </div>
                        <a href="#" class="cart"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#" class="toggle-favorite">
                            <i class="fas fa-heart heart-icon favorited"></i>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>Henüz favori ürününüz bulunmamaktadır.</p>
            }
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="@Url.Content("~/wwwroot//image/logo.png")" alt="">
            <h4>İletişim</h4>
            <p><strong>Address:</strong> Türkiye, Zonguldak - 67000 </p>
            <p><strong>Phone:</strong> 0536 225 36 34</p>
            <div class="follow">
                <h4>Bizi Takip Edin</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Hakkında</h4>
            <a href="#">Hakkımızda</a>
            <a href="#">Teslimat Bilgileri</a>
            <a href="#">Gizlilik Politikası</a>
            <a href="#">Şartlar ve Koşullar</a>
            <a href="#">Bize Ulaşın</a>
        </div>
        <div class="col">
            <h4>Hesabım</h4>
            <a href="#">Oturum Aç</a>
            <a href="#">Sepeti Görüntüle</a>
            <a href="@Url.Action("Index", "Favoriler")">Favorilerim</a>
            <a href="#">Bağışmı Takip Et</a>
            <a href="#">Yardım</a>
        </div>
        <div class="copyright">
            <p>Tüm Hakları Saklıdır | &#169; 2023</p>
        </div>
    </footer>

    <script>
        const addFavoriteUrl = '@Url.Action("AddFavorite", "Favoriler")';
        const removeFavoriteUrl = '@Url.Action("RemoveFavorite", "Favoriler")';
        const requestVerificationToken = document.querySelector('input[name="__RequestVerificationToken"]')?.value;
    </script>

    <script src="~/website/script.js"></script>

</body>
</html>